<!DOCTYPE html>
<html>
  <head>
    <title>University</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <nav>
    <a href="/people"><button>People</button></a>
    <a href="/prefixes"><button>Prefixes</button></a>
    <a href="/courses"><button>Courses</button></a>
    <a href="/semesters"><button>Semesters</button></a>
    <a href="/sections"><button>Sections</button></a>
  </nav>
    <%= yield %>
  </body>
</html>
