<p style="color: green"><%= notice %></p>
<%= form_tag(semesters_url, method: "get") do %>
  <%= label_tag(:query, "Search by year:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>

<h1>Semesters</h1>

<div id="semesters">
  <% @semesters.each do |semester| %>
    <%= render semester %>
    <p>
      <%= link_to "Show this semester", semester %>
    </p>
  <% end %>
</div>

<%= link_to "New semester", new_semester_path %>
